.nav{
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    display: block;
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
}
.tit_pagina {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(250, 242, 242);
    font-size: 16px;
    margin-left: 50px;
    vertical-align: middle;
}
.p1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 26px;
    padding: 10px;
  
}
.p2{

    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-align: center;
    margin-left: auto;
    background-color:rgb(240, 240, 240);
    margin-right:auto ;
    padding: 20px;
    width: 100%;
   

}
.p3{
    font-family:"Times New Roman", Times, serif;
    color: rgb(14, 13, 13);
    font-size: 25px;
    margin-left: 25px;
    vertical-align: middle;
}
.p4{
    font-family:"Times New Roman", Times, serif;
    padding: 40px;
    color: rgb(14, 13, 13);
    font-size: 25px;
    margin-left: 25px;
    vertical-align: middle;
}
.educacao{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 10px;
    height: auto;
    
}

.main-wrap{
    width: 100%;
    background: #fff;
}
.footer-wrap{
    position: relative;
    margin-top:10px; 
    width:100%;
    padding:40px;
    background: rgb(10, 10, 10);
}
.footer-wrap-1{
    display: flex;

}
.line{
    margin-top:20px;
    width:100%;
    height:1px;;
    background: rgb(143, 142, 142);
}
.social-link{
    padding-top:25px;
    text-align: center;
}
.social-link a{
    text-decoration: none;
    height:26px;
    display: inline-block;
    width:26px;
    padding:1px;
    border-radius:20px;
    margin:5px;
    background: rgb(248, 246, 246);
}
.social-link a img{
    width:20px;
    height:20px;
}
.footer-bottom{
    background: rgb(10, 10, 10);
    width:100%;
    padding:20px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom a{
    color:#fff;
    font-size:14px;
    margin-left:20px;
    text-decoration:none;
}
  .wrapper{
    max-width: 400px;
    width: 100%;
    background: linear-gradient(45deg, rgb(219, 247, 247), rgb(206, 206, 204));
    margin: 2px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 30px;
  }
  .wrapper .title{
    font-size: 24px;
    font-weight: 100px;
    font-family:"Times New Roman", Times, serif;
    margin-bottom: 25px;
    color: #070707;
    text-transform: uppercase;
    text-align: center;
  }
  
  .wrapper .form{
    width: 100%;
  }
  
  .wrapper .form .inputfield{
    margin-bottom: 15px;
    display: block;
    align-items: center;
  }
  
  .wrapper .form .inputfield label{
     width: 300px;
     color: #080808;
     margin-right: 10px;
    font-size: 14px;
  }
  
  .wrapper .form .inputfield .input,
  .wrapper .form .inputfield .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .wrapper .form .inputfield .textarea{
    width: 100%;
    height: 125px;
    resize: none;
  }
  
  .wrapper .form .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 40px;
  }
  
  .wrapper .form .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 20px;
    right: 1px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }
  
  .wrapper .form .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    margin-top: -2px;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }

.wrapper .form .inputfield .ilha_select{
    position: relative;
    width: 100%;
    height: 40px;
  }
  
  .wrapper .form .inputfield .ilha_select:before{
    content: "";
    position: absolute;
    top: 20px;
    right: 1px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }
  
  .wrapper .form .inputfield .ilha_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }
  .wrapper .form .inputfield .btn{
    width: 70%;
     padding: 8px 20px;
    font-size: 15px; 
    border: 0px;
    margin: 30px;
    background:  #bbb9b9;
    color: #fff;
    cursor: pointer;
    
    border-radius: 3px;
    outline: none;
  }
  
  .wrapper .form .inputfield .btn:hover{
    background: #525151;
  }
 .table{
  padding: 70px;
  height: 200px;
  background: linear-gradient(45deg, rgb(219, 247, 247), rgb(206, 206, 204));
  float: center;
  margin-left: 20px;
  margin-top: 20px;
   
 } 
.container{
  padding: 30px;
  display: flex;
  flex-direction: row;
}
 