.nav{
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    display: block;
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
}
.tit_pagina {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(250, 242, 242);
    font-size: 16px;
    margin-left: 50px;
    vertical-align: middle;
}
.p1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 26px;
    padding: 10px;
  
}
.p2{

    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-align: center;
    margin-left: auto;
    background-color:rgb(240, 240, 240);
    margin-right:auto ;
    padding: 20px;
    width: 100%;
   

}
.p3{
    font-family:"Times New Roman", Times, serif;
    color: rgb(14, 13, 13);
    font-size: 25px;
    margin-left: 25px;
    vertical-align: middle;
}
.p4{
    font-family:"Times New Roman", Times, serif;
    padding: 40px;
    color: rgb(14, 13, 13);
    font-size: 25px;
    margin-left: 25px;
    vertical-align: middle;
}
.educacao{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 10px;
    height: auto;
    
}
body {
    
    display: block;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 100px;
    background: #2d504a;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
 }
 select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #23b499;
 }
label{
    font-family:"Times New Roman", Times, serif;
    padding: 45px;
    color: rgb(14, 13, 13);
    font-size: 20px;
    margin-left: 25px;
    vertical-align: middle;
}